modules = ["python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "unzip", "xcodebuild", "zlib"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HybridScalper Bot"

[[workflows.workflow]]
name = "HybridScalper Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd HybridScalper-main && python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "7600005956:AAFbzM7DV3d3qsrJq2h8GzcKVGwd5UbLXqM"
TELEGRAM_CHAT_ID = "5492079566"
ALPHA_VANTAGE_API_KEY = "BOCYPEKD4X0VKDPI"
SECTORS_API_KEY = "FhSlR8Sqp965jFFHHT8wYmnAhfCaF4rE"
